.customClass{
   

    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 70%, rgba(255, 255, 255, 1) 100%), url('../../assests/bgImg.png');
background-repeat: no-repeat;
background-size: cover;
/* height: fit-content; */
}
